name: Pull Request Plan

on:
  - pull_request

jobs:
  run:
    runs-on: ubuntu-latest

    env:
<%= plugin_env_vars(indent: 6) -%>
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      TS_ENV: dev
      TS_TOKEN: ${{ secrets.TS_TOKEN }}

    steps:
<%= partial "init_steps.yml" -%>

    - name: Terraspace Command
      run: |
        terraspace plan demo
